# 下载泰坦尼克号数据集

导入爬虫相关模块

In [1]:
import urllib.request
import os

下载泰坦尼克号数据集

In [5]:
#url = "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls"
url = "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls"#设置文件下载网址
filepath = 'titanic3.xls'#设置文件存储路径
if not os.path.isfile(filepath):#如果文件不存在，则执行下载
    result = urllib.request.urlretrieve(url,filepath)
    print('downloaded:', result)

downloaded: ('titanic3.xls', <http.client.HTTPMessage object at 0x7f4324160160>)

# 使用DataFrame读取数据并进行预处理

导入相关模块

In [6]:
import numpy as np
import pandas as pd

读取titanic3.xls

In [7]:
all_df = pd.read_excel(filepath)

查看前两项数据

In [8]:
all_df[:2]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

字段说明
survived：是否生存，1=是，2=否
pclass：舱等，1 = 头等舱，2 = 二等舱， 3 = 三等舱
name：姓名
sex：性别，female = 女性，male = 男性
age：年龄
slbsp：手足或配偶也在船上的数量
parch：双亲或子女在船上的数量
ticket：船票号码
fare：旅客费用
cabin：舱位号码
embarked：登船港口，C = Cherbourg， Q = Queenstown， S = Southampton

以上字段中，survived是label标签字段，即需要预测的目标，其余是特征字段

把需要的字段选取到DataFrame中，我们认为ticket（船票号码）和cabin（舱位号码）与预测结果关联不大，故将其忽略，把剩余的字段选取到DataFrame中

In [10]:
cols = ['survived', 'name', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']
all_df = all_df[cols]

选取字段后，显示前两项数据

In [11]:
all_df[:2]

,survived,name,pclass,sex,age,sibsp,parch,fare,embarked
0,1,"Allen, Miss. Elisabeth Walton",1,female,29.0000,0,0,211.3375,S
1,1,"Allison, Master. Hudson Trevor",1,male,0.9167,1,2,151.5500,S

需要处理的问题
name 在预测阶段会使用，但是训练阶段不需要，必须先删除
age 有几项数据age是null值，必须改为平均值
fare 有几项数据fare是null值，必须改为平均值
sex 性别字段是文字，必须转换为0和1
embarked 分类特征有三个分类C，Q，S，必须使用One—Hot Encoding进行转换

# 使用Pandas DataFrame进行数据预处理

将name字段删除

In [12]:
df = all_df.drop(['name'], axis=1)

找出含有null的字段

In [13]:
all_df.isnull().sum()

survived      0
name          0
pclass        0
sex           0
age         263
sibsp         0
parch         0
fare          1
embarked      2
dtype: int64

将age字段的null值转换为平均值

In [14]:
age_mean = df['age'].mean() #计算age字段的平均值
df['age'] = df['age'].fillna(age_mean)#将null转换为平均值

将fare的null值转换为平均值

In [16]:
fare_mean = df['fare'].mean()
df['fare'] = df['fare'].fillna(fare_mean)

将性别字段转换为0和1，将female转换为0，male转换为1

In [17]:
df['sex'] = df['sex'].map({'female' : 0, 'male' : 1}).astype(int)

对embarked进行One-Hot转换，可以用pandas的get_dummies()传入需要转换的DataFrame和需要转换的字段进行转换

In [22]:
x_OneHot_df = pd.get_dummies(data=df, columns=['embarked'])

查看转换后的DataFrame

In [20]:
x_OneHot_df[: 2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S
0,1,1,0,29.0000,0,0,211.3375,0,0,1
1,1,1,1,0.9167,1,2,151.5500,0,0,1

# 将DataFrame转换为Array

In [21]:
ndarray = x_OneHot_df.values

查看ndarray的shape

In [23]:
ndarray.shape

(1309, 10)

ndarray一共有1309项，10个字段

查看ndarray的前两项数据

In [24]:
ndarray[:2]

array([[  1.    ,   1.    ,   0.    ,  29.    ,   0.    ,   0.    ,
        211.3375,   0.    ,   0.    ,   1.    ],
       [  1.    ,   1.    ,   1.    ,   0.9167,   1.    ,   2.    ,
        151.55  ,   0.    ,   0.    ,   1.    ]])

第0个字段是label，之后的字段是features

提取features与label，可以使用Python slice语句(切片)

In [25]:
label = ndarray[:, 0]
features = ndarray[:, 1:]

查看前两项的label

In [26]:
label[: 2]

array([1., 1.])

查看前两项的features

In [28]:
features[: 2]

array([[  1.    ,   0.    ,  29.    ,   0.    ,   0.    , 211.3375,
          0.    ,   0.    ,   1.    ],
       [  1.    ,   1.    ,   0.9167,   1.    ,   2.    , 151.55  ,
          0.    ,   0.    ,   1.    ]])

为了提高模型的准确率，我们需要对数据进行标准化

# 将ndarray特征字段进行标准化

导入sklearn的预处理模块preprocessing

In [29]:
from sklearn import preprocessing

建立MinMaxScaler标准化刻度minmax_scale，使用preprocessing.MinMaxscaler，需输入参数feature_range设置标准化后的范围在0到1之间

In [30]:
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))

In [31]:
scaledfeatures = minmax_scale.fit_transform(features)

查看标准化后的特征字段的前两项数据

In [32]:
scaledfeatures[: 2]

array([[0.        , 0.        , 0.36116884, 0.        , 0.        ,
        0.41250333, 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.00939458, 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ]])

标准化后的数据都介于0和1之间

# 将数据分为训练数据和测试数据

以随机方式将数据分为训练数据和测试数据

In [34]:
msk = np.random.rand(len(all_df)) < 0.8 #按照8:2的比例产生msk
train_df = all_df[msk] #产生80%的训练数据
test_df = all_df[~msk] #产生20%的测试数据

显示测试数据和训练数据的项数

In [36]:
print('total:', len(all_df), 'train:', len(train_df), 'test:', len(test_df))

total: 1309 train: 1066 test: 243

创建数据预处理函数PreprocessData进行数据的预处理，方便后续使用

In [39]:
def PreprocessData(raw_df):
    df = raw_df.drop(['name'], axis = 1)
    age_mean = df['age'].mean()
    df['age'] = df['age'].fillna(age_mean)
    fear_mean = df['fare'].mean()
    df['fare'] = df['fare'].fillna(fear_mean)
    df['sex'] = df['sex'].map({'female':0, 'male':1}).astype(int)
    x_OneHot_df =pd.get_dummies(data = df, columns=['embarked'])
    
    ndarray = x_OneHot_df.values
    features = ndarray[:, 1:]
    label = ndarray[:, 0]
    
    minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
    scaledfeatures = minmax_scale.fit_transform(features)
    
    return scaledfeatures, label

对训练数据和测试数据进行预处理

In [40]:
train_features, train_label = PreprocessData(train_df)
test_features, test_label = PreprocessData(test_df)

查看预处理后train_features的前两项

In [41]:
train_features[: 2]

array([[0.        , 1.        , 0.00732301, 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ],
       [0.        , 0.        , 0.02092091, 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ]])

查看预处理后train_label的前两项

In [42]:
train_label[: 2]

array([1., 0.])